# This is Git's per-user configuration file.
[user]
	name = takiyu
	email = takiyu1025.txu.development@gmail.com
[alias]
	graph = log --graph --pretty=format:'%C(green)<%ad>%C(reset)[%C(bold blue)%h%Creset](%C(yellow)%an%C(reset))%C(bold green)%d%Creset %C(reset)%s%C(reset) %C(green)<%cr>%C(reset)' --abbrev-commit --date=format-local:'%Y/%m/%d'
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
	prompt = true
[merge]
	tool = nvim
	ff = false
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
	prompt = true
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = master
