# This is Git's per-user configuration file.
[user]
	name = takiyu
	email = takiyu1025.txu.development@gmail.com
[core]
	editor = vim
[alias]
	graph = log --graph --all --pretty=format:'%C(yellow)<%cr>%C(reset) [%an]%C(bold green)%d%Creset %C(reset)%s%C(reset) %C(green)(%ad)%C(reset) [%C(bold blue)%h%Creset]' --abbrev-commit --date=format-local:'%Y/%m/%d'
[diff]
	tool = gvimdiff
[difftool]
	prompt = true
