# This is Git's per-user configuration file.
[user]
	name = takiyu
	email = takiyu1025.txu.development@gmail.com
[core]
	editor = vim
[alias]
	graph = log --graph --all --pretty=format:'<%an> %C(bold green)%d%Creset %C(bold)%s%Creset (%cr, %ad) [%C(bold blue)%h%Creset]' --abbrev-commit --date=short
[diff]
	tool = gvimdiff
[difftool]
	prompt = true
